{% extends "layout.html" %}

{% block title %}
    Flights
{% endblock %}

{% block heading %}
    List of Flights
{% endblock %}

{% block body %}

    <form action="{{ url_for('book') }}" method="post">
        <div class="form-group">
            <select class="form-control" name="flight_id">
                {% for flight in flights %}
                    <option value="{{ flight.id }}">De {{ flight.origin }} para {{ flight.destination}}</option>
                {% endfor %}    
            </select>           
        </div>

        <div class="form-group">
            <input class="form-control" name="name" placeholder="Nome do Passageiro">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Reservar</button>
        </div>        

    </form>

{% endblock %}